{% load static %}
<html>
<head>
    <title>COMP4321 G14 Search Engine</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Search Engine of COMP4321 Group 14</h1>
    <form method="post" action="" class="searchForm">
        {% csrf_token %}
        {{form}}
        <button type="submit" name="save">Search</button>
    </form>
<br><br>
    {% if submitted %}
        <h1>Search Result</h1>
        {% for result in results %}
            <div class="searchResultItem">
                <p class="score">{{ result.score }}</p>
                <a href="{{ result.url }}" target="_blank">{{ result.title }}</a>
                <a href="{{ result.url }}" target="_blank">{{ result.url }}</a>
                <p>{{ result.date }}, {{ result.size}}</p>
                <p>{{result.keywords }}</p>
                <p>Parent links:</p>
                {% for parentLink in result.parentLinks %}
                    <p>{{ parentLink }}</p>
                {% endfor %}
                <p>Child links:</p>
                {% for childLink in result.childLinks%}
                    <p>{{ childLink }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>