.test{
    font-size: 50px;
}

h1 {
  text-align: center;
}

.main{
    background-color: #ffc0cb;
    padding: 35px;
}

.button{
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color:#3efbff;
    border: none;
}

.button:hover{
    background-color:#cffeff;
    cursor:pointer;
}


.searchResultItem {
  border: 3px solid #C0C0C0;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 50px auto;
}

.searchResultItem:hover {
    background-color: #00CCFF;
}

.score {
    grid-column-start: 1;
}

.searchResultItem > a, p {
    grid-column-start: 2;
}


.searchForm {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: block;
    width: 500px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
}

.container{
    display: flex;
}

.sidebar {
    flex: 0 0 20%; 
    background-color: lightblue; 
}

.main-content {
    flex: 0 0 80%; 
    background-color: lightcoral; 
}

.query_history_button{
    padding:10px;
    margin:15px;
    font-weight: bold;
    background-color:#e66aff;
    border:none;
}

.query_history_button:hover{
    background-color:#e66aff6e;
}

.get_similar_button{
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 6px;
    background-color:#f4ff1b;
    border: none;
}

.get_similar_button:hover {
    background-color: #faffa1;
    cursor:pointer;
}